body {
    min-height: 100vh;
    margin: 0;
    font-size: 20pt;
    font-family: 'sans-serif';
    font-weight: bold;
    background-color: #333;
}
a {
    color: #96f;
}

nav {
    width: 98vw;
    height: 10vh;
    position: fixed;
    color: white;
    background-color: #333;
}

h1 {
    text-align: center;
    margin-top: 5pt;
    margin-bottom: 5pt;
}

h2 {
    text-align: center;
    margin-top: 5pt;
    margin-bottom: 5pt;
}

h3 {
    text-align: center;
    margin-top: 5pt;
    margin-bottom: 5pt;
}

.highlight {
    background-color: #000;
}

p {
    text-indent:30px;
    text-align: justify;
}

/* highlighted word */
b {
    color: #96f;
}

/* these are the redaction blocks */
tt {
    color: #ccc;
    background-color: #ccc;
}

#left {
    padding-top: 10vh;  /* same as nav height */
    float: left;
    width: 75vw;
    background-color: #f69;
}

#right {
    padding-top: 10vh;  /* same as nev height */
    float:left;
    width: 23vw;
    background-color: #9f6;
}

#textPane {
    height: 80%;
    padding: 10px;
    overflow-y: auto;
    background-color: #333;
    color: #ccc;
}

#inputPane {
    position: fixed;
    bottom: 0;
    height: 10%;
    width: 75vw;    /* same as left */
    clear: left;
    background-color: #96f;
    display: flex;
    align-items: center;
}

#guessesPane {
    width: 100%;
    height: 80%;
    background-color: #333;
    color: #c9f;
    padding: 10px;
    overflow-y: auto;
}
#guessList {
    color: #c9f;
}
table {
    width: 80%;
    font-size: 20pt;
}
.count {width: 20%; text-align: right;}
.guess {width: 60%;}
.hits {width: 20%; text-align: right;}
