body {
    min-height: 100vh;
    margin: 0;
    font-size: 20pt;
    font-family: 'sans-serif';
    font-weight: bold;
    background-color: #333;
    scrollbar-width: auto;
    scrollbar-color: #c9f #333; /* foreground, background */
}
a {
    color: #96f;
}

nav {
    width: 98vw;
    height: 10vh;
    position: fixed;
    color: white;
    background-color: #666;
    display: flex;
    align-items: center;
}
nav span {
    font-size: 40pt;
    font-weight: bold;
}
nav input {
    font-size: 20pt;
    font-weight: bold;
}
nav select {
    font-size: 20pt;
    font-weight: bold;
}
#title {
    margin-left: 20px;
}

h1 {
    text-align: center;
    margin-top: 5pt;
    margin-bottom: 5pt;
}

h2 {
    text-align: center;
    margin-top: 5pt;
    margin-bottom: 5pt;
}
h2 a {
    text-decoration: none;
}
h2 a:hover {
    text-decoration: underline;
}

h3 {
    text-align: center;
    margin-top: 5pt;
    margin-bottom: 5pt;
}

.highlight {
    background-color: #000;
}

p {
    text-indent:30px;
    text-align: justify;
}

/* highlighted word */
b {
    color: #96f;
}
b.special {
    background-color: #c9f;
    color: #000;
}

/* these are the redaction blocks */
tt {
    color: #ccc;
    background-color: #ccc;
}

#left {
    padding-top: 10vh;  /* same as nav height */
    float: left;
    width: 75vw;
    background-color: #f69;
}

#right {
    padding-top: 10vh;  /* same as nev height */
    float:left;
    width: 23vw;
    background-color: #9f6;
}

#textPane {
    height: 80%;
    padding: 10px;
    overflow-y: auto;
    background-color: #333;
    color: #ccc;
}

#inputPane {
    position: fixed;
    bottom: 0;
    height: 10%;
    width: 75vw;    /* same as left */
    clear: left;
    background-color: #666;
    display: flex;
    align-items: center;
}
#buttons {
    margin: auto;
}
#buttons input {
    font-size: 20pt;
    font-weight: bold;
    border:solid 5px #96f; 
}

#guessesPane {
    width: 100%;
    height: 80%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    overflow-y: auto;
}
#guessList {
    color: #fff;
}
table {
    width: 100%;
    margin: auto;
    font-size: 20pt;
    font-weight: bold;
    background-color: #666;
}
.count {width: 20%; text-align: right;}
.guess {width: 60%;}
.hits {width: 20%; text-align: right;}

img {height: 1.2em; vertical-align: sub;}
